@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">

    <h2 style="font: bold 30px arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Daniel Kadiwel </h2>

    <h2 style="font: bold 15px arial"> FORMAÇÃO:</h2><p class="lead" , style="font: 18px verdana">
        Análise e Desenvolvimento de Sistemas - Estácio de Sá.
    </p>

    <h2 style="font:bold 15px arial">EXPERIÊNCIA:</h2><p class="lead" , style="font: 18px verdana">
        Web API, Criação e Sustentação de EndPoints e Workers, Google GCP(Pub/Sub), SQL Server, Oracle, MongoDB.
        DataDog, Blazemeter, DBeaver.
    </p>

</div>

<footer>
    <p>&copy; @DateTime.Now.Year - Daniel Kadiwel</p>
</footer>


